.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.navLinks a {
  margin-left: 15px;
  font-weight: bold;
  color: #333;
}
